/* CSS files add styling rules to your content */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: #d8cdec;
  width: 100%;
  text-align: center;
  min-width: 900px;
} /*figure out why it is not centered*/

h1 {
  font-size: 36px;
  font-style: italic;
  color: #009698;
  text-align: center;
}

h2 {
  margin-top: 2em; 
  margin-bottom: 1em;
  text-align: center;
  color: #191970;
}

.question {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.answer-choice {
  width: 200px;
}

.answer-choice img {
  width: 200px;
  height: 10em;
  border-radius: 10px;
}

nav {
  background-color: #330067;
  border-style: solid #330067;
  padding: 20px;
  margin: 0;
  top: 0;
  width: 100%;
}

button {
  color: #37BEB0;
  cursor: pointer;
  justify-content: space-between;
  width: 60%;
  background-color: #191970;
  border-radius: 10px;
}/*how to make the same space between buttons*/

#restart {
  margin: 5em;
  width: 80px;
}