/* CSS files add styling rules to your content */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: #d8cdec;
  width: 100%;
  text-align: center;
  min-width: 850px;  
} /*
  display: flex;
  flex-direction: column;
figure out why it is not centered*/

h1 {
  font-size: 36px;
  font-style: italic;
  color: #009698;
  text-align: center;
}

h2 {
  margin-top: 2em; 
  margin-bottom: 1em;
  text-align: center;
  color: #191970;
}

h3 {
  color: #191970;
  font-size: 50px;
}

.question {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
  width: 80%;

/*   
    border: solid red;
  margin: 0 auto;*/
}

.answer-choice {
  width: 200px;
}

.answer-choice img {
  width: 200px;
  height: 10em;
  border-radius: 10px;
}

nav {

  background-color: #330067;
  border-style: solid #330067;
  padding: 20px;
  width: 100%;

  top: 0;/*
    position: relative;
    margin-right: -50px;
  why does it not go all the way across*/
}

button {
  color: #37BEB0;
  cursor: pointer; /*default is the other one*/
  justify-content: space-between;
  width: 60%;
  background-color: #191970;
  border-radius: 10px;
  padding: 5px 5px;
}/*how to make the same space between buttons*/

#restart {
  margin: 5em;
  width: 80px;
}